@model IEnumerable<PollPlus.Models.UsuariosEnvioPushPorArea>
@using GridMvc.Html;
@using PollPlus.Helpers;

<div>

    <div class="header">
        <h3>Detalhes do Envio</h3>
    </div>

    <div class="content" id="DadosRelatorio">
        <div id="tabelaListaColaboradores" class="table-responsive">
            <div role="grid" class="dataTables_wrapper form-inline" id="datatable_wrapper">
                @if (Model != null && Model.Any())
                {
                    @Html.Grid(Model).Columns(col =>
               {
                   col.Add(b => b.Nome);
                   col.Add(b => b.NomeEmpresa).Titled("Empresa App");
                   //col.Add(b => b.EnderecoOrigem).Titled("Origem do envio");
                   col.Add(b => b.Mensagem);
                   col.Add(b => b.DataHoraEnvio).Titled("Data do Envio").Format("{0:dd/MM/yyy HH:MM}");
               }).WithPaging(10);
                }
                else
                {
                    <p>Nenhum usuário dentro da área especificada.</p>
                }
            </div>
            <span style="font-size:9px">Informações exibidas somente após o envio.</span>
        </div>
    </div>
</div>

