@*<Empresas>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Empresas</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Cadastrar Empresa", "NovaEmpresa", "Empresa")
        </li>
        <li>
            @Html.ActionLink("Listar Empresas", "ListarEmpresas", "Empresa")
        </li>
    </ul>
</li>
@*</Empresas>*@
