
@*<Vendas>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Vendas</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Declaração de Vendas", "Novo", "LancamentoDeVenda")
        </li>
        <li>
            @Html.ActionLink("Lançamentos Pendentes", "LancPendentes", "Relatorio")
        </li>
    </ul>
</li>
@*</Vendas>*@