@*<Voucher>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Controle de Acesso</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Novo acesso", "NovoControleAcesso", "ControleAcesso")
        </li>
        <li>
            @Html.ActionLink("Listar Acessos Liberados", "ListarControlesAcessos", "ControleAcesso")
        </li>
    </ul>
</li>
@*</Voucher>*@