@*<Mapas>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Push</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Enviar Push para base", "NovoPush", "Push")
        </li>
        <li>
            @Html.ActionLink("Enviar Push por Área", "NovoPushPorArea", "Push")
        </li>
        <li>
            @Html.ActionLink("Enviar Push Programado por Importação", "NovoAgendamentoPorAcaoImportacao", "Push")
        </li>
    </ul>
</li>
@*</Mapas>*@
