@*<Mapas>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Push</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Enviar Push para base", "NovoPush", "Push")
        </li>
    </ul>
    @*<ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Radar de Localizações", "Mapa", "Mapa")
        </li>
    </ul>*@
</li>
@*</Mapas>*@
