@*<Enquete>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Enquetes</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Criar Enquete", "NovaEnquete", "Enquete")
        </li>
        <li>
            @Html.ActionLink("Listar Enquetes", "ListarEnquetes", "Enquete")
        </li>
        <li>
            @Html.ActionLink("Importar Black List", "ImportarBlackList", "Enquete")
        </li>
    </ul>
</li>
@*</Enquete>*@
