@*<Mapas>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Mapas e Localição</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Exibir Localizações", "Index", "Mapa")
        </li>
    </ul>
</li>
@*</Mapas>*@
