@*<Mensagem>*@
<li class="parent">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span>Mensagens</span>
    </a>
    <ul class="sub-menu" style="display: none;">
        <li>
            @Html.ActionLink("Criar Mensagem", "NovaMensagem", "Mensagem")
        </li>
        <li>
            @Html.ActionLink("Criar Modelo de Mensagem", "NovoModeloMensagem", "Mensagem")
        </li>
        <li>
            @Html.ActionLink("Listar Mensagens", "ListarMensagens", "Mensagem")
        </li>
    </ul>
</li>
@*</Mensagem>*@