@model PagedList.IPagedList<PollPlus.Domain.Empresa>
@using GridMvc.Html;
@using PollPlus.Domain.Enumeradores;
@using PollPlus.Helpers;

<div>

    <div class="header">
        <h3>Informações</h3>
    </div>

    <div class="content" id="DadosRelatorio">
        <div id="tabelaListaColaboradores" class="table-responsive">
            <div role="grid" class="dataTables_wrapper form-inline" id="datatable_wrapper">
                @if (Model != null && Model.Any())
                {
                    @Html.Grid(Model).Columns(col =>
               {
                   col.Add(b => b.Nome);
                   col.Add(b => b.Documento.Numero).Titled("Documento");
                   col.Add(b => b.DataCriacao).Titled("Data de criação").Format("{0:dd/MM/yyy}");
               })
                }
                else
                {
                    <p>Nenhum registro encontrado.</p>
                }
            </div>
        </div>
    </div>
</div>
