@model PagedList.IPagedList<PollPlus.Domain.Enquete>
@using PollPlus.Helpers;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Relatório Gerencial - Enquetes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-autocomplete-loading {
        background: white url("../../Content/images/loader-autocomplete.gif") right center no-repeat;
    }
</style>

<div class="content tamanho-reduzido">

    <div class="header">
        <h3>Relatório Gerencial de Enquete - Respostas  por Municipio</h3>
    </div>

    @using (Html.BeginForm("ExportaRelEnquetesCadastradasPorMunicipio", "Relatorio", FormMethod.Get, new { role = "form", @class = "form-horizontal" }))
    {

        <div class="form-group">
            @Html.Label("Enquete", new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Partial("_DropDownListForEnquete")
            </div>
        </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary cancel" type="submit">Gerar</button><br />
                </div>
            </div>
    }
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
