@model PagedList.IPagedList<PollPlus.Domain.Usuario>
@using PagedList.Mvc;
@using PollPlus.Helpers;

@{
    ViewBag.Title = "Relatório Gerencial - Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-autocomplete-loading {
        background: white url("../../Content/images/loader-autocomplete.gif") right center no-repeat;
    }
</style>

<div class="content tamanho-reduzido">

    <div class="header">
        <h3>Relatório Gerencial - Usuários Cadatrados</h3>
    </div>

    @using (Html.BeginForm("RelUsuariosCadastrados", "Relatorio", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        if (UsuarioLogado.UsuarioAutenticado().Perfil == PollPlus.Domain.Enumeradores.EnumPerfil.AdministradorMaster)
        {
            <div class="form-group">
                @Html.Label("Empresa", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.Partial("_DropDownListForEmpresas")
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary cancel" type="submit">Gerar</button><br />
                </div>
            </div>
            <br />
        }

        @Html.Partial("_GridRelatorio", Model);

        <br />
    }


    @Html.PagedListPager(Model, page => Url.Action("RelUsuariosCadastradosPaginado", "Relatorio", new { page = page }),
                new PagedListRenderOptions
                {
                    DisplayLinkToLastPage = PagedList.Mvc.PagedListDisplayMode.IfNeeded,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                    Display = PagedListDisplayMode.IfNeeded,
                    LinkToNextPageFormat = "Próximo",
                    LinkToPreviousPageFormat = "Anterior"
                })

    <br />
    <br />

    @using (Html.BeginForm("ExportarUsuariosCadastrados", "Relatorio", FormMethod.Get, new { role = "form", @class = "form-horizontal" }))
    {
        if (Model != null)
        {
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Exportar</button><br />
                </div>
            </div>
        }
    }
</div>

@section Scripts{
    <script type="text/javascript">

    </script>
}


