@{
    ViewBag.Title = "Erro ao processar solicitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-weight:bold">
    Não foi possível processar sua solicitação devido a ocorrência de erro.<br />
    Verifique o endereço solicitado e caso o problema venha ocorrer novamente procure o suporte responsável.
</p>

<br />
<p style="font-weight:bold">Att, Mais.</p>
