@model ICollection<PollPlus.Models.CategoriaViewModel>

<select id="example2" multiple="multiple" name="CategoriasInteresse" style="display: none;">
    @foreach (var cat in Model)
    {
        <option value="@cat.Id">@cat.Nome</option>
    }
</select>