@{var categorias = (IEnumerable<SelectListItem>)ViewData["CategoriasForSelectList"]; }
<select id="example2" multiple="multiple" name="CategoriasInteresse" style="display: none;">
    @foreach (var cat in categorias)
    {
        <option value="@cat.Value" selected="@cat.Selected">@cat.Text</option>
    }
</select>